 <div class="home">
   <div class="container main_div">
     <div class="row mt-5 mb-5 mr-3 ml-3" style="text-align: center;">
       <div class="col-sm-12 mb-5 color">
         <canvas baseChart [datasets]="barChartData" height="50%" width="100%" [labels]="barChartLabels" [options]="barChartOptions"
           [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
         </canvas>
       </div>
       <div class="col-sm-12 color">
         <canvas baseChart [datasets]="lineChartData" height="50%" width="100%" [labels]="lineChartLabels"
           [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
           [chartType]="lineChartType" [plugins]="lineChartPlugins">
         </canvas>
       </div>
     </div>
   </div>
 </div>
