<div class="wrapper">
  <header class="page-header">
    <app-header></app-header>
  </header>
  <main class="main-page">
    <router-outlet></router-outlet>
  </main>
  <footer class="page-footer">
    <app-footer></app-footer>
  </footer>
</div>
<!-- <div class="loading-overlay is-active is-full-page" *ngIf="!metamask">
  <div class="loading-background"></div>
  <div class="loading-container">
    <div class="loading-tornado"></div>
    <div class="loading-message">Loading...</div>
  </div>
</div> -->