.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  font-family: 'Spartan';
}

.page-main {
  flex-grow: 1;
}

.loading-overlay.is-full-page {
  z-index: 999;
  position: fixed;
}
.loading-overlay.is-active {
  display: flex;
}
.loading-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
}
.loading-overlay.is-full-page .loading-background {
  background: rgba(0,0,0,.85);
}
.loading-overlay .loading-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: #7f7f7f;
  background: hsla(0,0%,100%,.5);
}
.loading-overlay .loading-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-overlay .loading-container .loading-tornado:after {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…wxLTItNS4xQTcuMiw3LjIsMCwxLDEsMjAsMjcuMloiIGZpbGw9IiM5NGZlYmYiLz48L3N2Zz4K);
  -webkit-animation: spinAroundReverse 2s linear infinite;
  animation: spinAroundReverse 2s linear infinite;
}
.loading-overlay .loading-container .loading-message {
  padding-top: .5rem;
  color: #94febf;
  text-align: center;
}
