.bg-aside-copy {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background-color: black;
}

.logo {
  color: #e95fb7;
  font-weight: 900;
  font-size: x-large;
}
.navbar-brand:hover, .navbar-brand:focus {
  background-color: transparent;
  color: #e95fb7;
  cursor: pointer;
  outline: none;
}
.is-active{
  color: #e95fb7 !important;
}

.is-primary {
  border-color: #e95fb7;
  color: #e95fb7;
}

.button {
  background-color: transparent;
  border-color: #e95fb7;
  border-width: 1px;
  color: #e95fb7;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  font-size: 13px;
}

.logout {
  color: #e95fb7;
  font-size: 14px;
}

.logout:hover {
  cursor: pointer;
}

.menu-item {
  color: white;
  margin-right: 2%;
}

.menu-item:hover , .menu-item:focus{
  color: #e95fb7;
  cursor: pointer;
}

i {
  color: #e95fb7;
}

.text-color {
  color: #eee;
  font-size: 11px;
}

.dropdown-custom {
  border-radius: 4px;
  border: 1px solid #e95fb7;
  background-color: black;
}
.dropdown-item:hover{
  background-color: #0e1f17;
  color: #e95fb7;
}

.nav-link:hover {
  color: #e95fb7!important;
  cursor: pointer
}

.nav-link:active {
  color: #e95fb7;
}

.button:not(:last-child):not(.is-fullwidth) {
  margin-right: .5rem;
}

.button.is-primary.is-outlined {
  background-color: #0e1f17;
}

.button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #e95fb7;
  color: #e95fb7;
}

.button {
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-weight: 700;
}

.button {
  background-color: #181818;
  border-color: #666;
  border-width: 1px;
  color: #eee;
  cursor: pointer;
  justify-content: center;
  padding: calc(.375em - 1px) .75em;
  text-align: center;
  white-space: nowrap;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  height: 2.857em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: calc(.429em - 1px) calc(1.25em - 1px);
  position: relative;
  vertical-align: top;
}

.button.is-primary.is-outlined:hover {
  background-color: #e95fb7;
  border-color: #e95fb7;
  color: #000403;
}


@media screen and (max-width: 600px) {
  .nav-itemli {
    margin-top: 2%;
  }
}
