<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-aside-copy mt-3 main_div container">
  <div class="navbar-brand logo" (click)="changeNavItem('home')" [routerLink]="['/']"><img width="60" height="60" src="../../../favicon.ico"> hex tornado</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333" style="font-size: 14px;">
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item mr-3" (click)="changeNavItem('compliance')">
        <a class="nav-link text-white" [ngClass]="{'is-active': navItem === 'compliance'}" [routerLink]="['/compliance']">Compliance</a>
      </li>
      <li class="nav-item mr-3" (click)="changeNavItem('stats')">
        <a class="nav-link text-white" [ngClass]="{'is-active': navItem === 'stats'}" [routerLink]="['/stats']">Stats</a>
      </li>
      <li class="nav-item dropdown mr-2">
        <a class="nav-link text-white" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> info
          <i class="fa fa-chevron-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default dropdown-custom" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item text-color" [routerLink]="['/tutorial']">Tutorial</a>
          <a class="dropdown-item text-color" href="#">About</a>
          <a class="dropdown-item text-color" href="#">Privacy Tips</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent-333">
      <button type="button" class="button is-primary pt-2 is-outlined" (click)="connect()" *ngIf="!connectMetaMask">Connect</button> 
      <button type="button" class="button is-primary pt-2 is-outlined" (click)="logout()" *ngIf="connectMetaMask">Log out</button>   
      <button type="button" class="button is-primary is-outlined ">Settings</button>
  </div>
</nav>
<!--/.Navbar -->