/* You can add global styles to this file, and also import other style files */

.main_div {
  width: 72%;
  margin-left: 13%;
  margin-right: 13%;
  color: #eee;
}

.home {
  width: 100%;
  background-color: black;
}

.text-color {
  color: #e95fb7;
}

.font {
  font-family: 'Spartan' !important;
}

button:focus {outline:0;}
@media (max-width: 1200px) { }
@media (max-width: 992px) { 
  .main_div{
    width: 100%;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
}
@media (max-width: 668px) {
  .main_div{
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  }
@media (max-width: 576px) {
.main_div{
  width: 100%;
  margin: 0;
}
}
