<div class="footer container main_div navbar-fixed-bottom mt-5">
  <div class="row">
    <div class="col-sm-6">
      <p>Donations address: <a>0xa7633f37FEEfaCAc8F251b914e92Ff03d2acf0f2</a></p>
      <p><a href="http://hex.toys" target="_blank">hex.toys </a>version: <span>58b7ce4</span></p>
    </div>
    <div class="col-sm-6 mb-3 display">
        <svg width="22" height="22" viewBox="0 0 22 22" class="mr-2" fill="#e95fb7" xmlns="http://www.w3.org/2000/svg">
          <path fill="#e95fb7"
            d="M6,16.5L3,19.44V11H6M11,14.66L9.43,13.32L8,14.64V7H11M16,13L13,16V3H16M18.81,12.81L17,11H22V16L20.21,14.21L13,21.36L9.53,18.34L5.75,22H3L9.47,15.66L13,18.64">
          </path>
        </svg>
      <a href="https://twitter.com/hextornado" target="_blank">
        <svg viewBox="0 0 19 19" width="22" height="22" fill="#e95fb7" class="mr-2" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9.5 19C14.7467 19 19 14.7467 19 9.5C19 4.25329 14.7467 0 9.5 0C4.25329 0 0 4.25329 0 9.5C0 14.7467 4.25329 19 9.5 19Z"
            fill="#e95fb7"></path>
          <path
            d="M15.8333 5.24674C15.389 5.49207 14.8474 5.64018 14.3521 5.6911C14.8937 5.34395 15.2918 4.80239 15.4862 4.159C14.9909 4.45523 14.4493 4.70055 13.8059 4.84867C13.3107 4.30711 12.6719 3.95996 11.9313 3.95996C10.501 3.95996 9.31609 5.19583 9.31609 6.77422C9.31609 6.97325 9.31609 7.21857 9.36701 7.41761C7.19614 7.32041 5.2706 6.18174 3.98382 4.50615C3.7385 4.89959 3.63666 5.39486 3.63666 5.93642C3.63666 6.92234 4.08102 7.76476 4.7707 8.25541C4.32634 8.25541 3.9329 8.10729 3.58575 7.90825V7.95917C3.58575 9.29224 4.47446 10.4263 5.65941 10.7225C5.46038 10.7734 5.21506 10.8197 4.96973 10.8197C4.82161 10.8197 4.62258 10.8197 4.47446 10.7688C4.82161 11.9028 5.75661 12.6943 6.89528 12.6943C6.00656 13.4349 4.87253 13.8793 3.68758 13.8793C3.48855 13.8793 3.29414 13.8793 3.04419 13.8284C4.17822 14.6199 5.56221 15.1105 7.0434 15.1105C11.8341 15.1105 14.4493 10.866 14.4493 7.16303C14.4493 7.06583 14.4493 6.91771 14.4493 6.81588C15.0464 6.32986 15.4908 5.83922 15.8333 5.24674Z"
            fill="#000403" class="no-hover"></path>
        </svg>
      </a>
      <svg viewBox="0 0 19 19" fill="#e95fb7" height="22" width="22" class="mr-2" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M9.5 19C14.7467 19 19 14.7467 19 9.5C19 4.25329 14.7467 0 9.5 0C4.25329 0 0 4.25329 0 9.5C0 14.7467 4.25329 19 9.5 19Z"
          fill="#e95fb7"></path>
        <path
          d="M9.10373 12.7471C8.59601 13.2589 8.05842 13.7405 7.5507 14.2523C7.37151 14.4329 7.16244 14.5232 6.92352 14.5232C6.74432 14.5232 6.65472 14.4329 6.59499 14.2824C6.20673 13.0783 5.81848 11.8441 5.43022 10.64C5.40035 10.5196 5.34062 10.4594 5.22116 10.4293C4.29531 10.1584 3.39934 9.85735 2.47349 9.55633C2.32416 9.49612 2.2047 9.46602 2.05537 9.37571C1.87617 9.2553 1.84631 9.04459 1.99564 8.89408C2.14497 8.74357 2.32416 8.62316 2.53322 8.56296C3.66813 8.11142 4.77317 7.69 5.90807 7.23846C8.77521 6.09458 11.6423 4.98081 14.5095 3.86703C15.0471 3.65631 15.4652 3.95733 15.4054 4.55938C15.3756 4.9507 15.286 5.31193 15.1964 5.67315C14.5692 8.62316 13.942 11.5732 13.3447 14.5232C13.1954 15.2155 12.7175 15.3961 12.1501 14.9747C11.1943 14.2523 10.2386 13.5599 9.28293 12.8375C9.19333 12.8074 9.1336 12.7773 9.10373 12.7471ZM6.95338 13.6201H6.98325C6.98325 13.59 6.98325 13.5599 7.01311 13.5298C7.07285 12.8676 7.13258 12.2053 7.19231 11.513C7.19231 11.3625 7.25204 11.2721 7.37151 11.1517C8.26748 10.3691 9.1336 9.55633 9.99971 8.74357C10.9853 7.87061 11.941 6.96755 12.9266 6.09458C12.9863 6.03438 13.0162 5.94407 13.046 5.88387C12.9564 5.88387 12.8668 5.82367 12.7772 5.85377C12.6578 5.88387 12.5682 5.94407 12.4487 6.00428C10.2984 7.35887 8.14802 8.74357 5.99767 10.0982C5.87821 10.1885 5.84834 10.2487 5.90807 10.3691C6.0574 10.8206 6.20673 11.3022 6.35606 11.7538C6.53526 12.3859 6.74432 13.0181 6.95338 13.6201Z"
          fill="#000403" class="no-hover"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" height="22" width="22" viewBox="0 0 24 24">
        <path fill="#e95fb7" fill-rule="evenodd"
          d="M11.999.01C5.373.01 0 5.291 0 11.806c0 5.211 3.438 9.632 8.208 11.193.6.108.819-.256.819-.569 0-.28-.01-1.022-.017-2.006-3.337.712-4.042-1.582-4.042-1.582-.544-1.362-1.332-1.725-1.332-1.725-1.091-.732.081-.717.081-.717 1.204.084 1.838 1.216 1.838 1.216 1.071 1.802 2.809 1.282 3.493.98.108-.762.419-1.282.762-1.578-2.664-.298-5.466-1.31-5.466-5.829 0-1.288.468-2.341 1.236-3.166-.125-.298-.535-1.498.117-3.121 0 0 1.008-.317 3.3 1.209a11.724 11.724 0 0 1 3.005-.397c1.018.006 2.046.136 3.004.398 2.291-1.526 3.297-1.208 3.297-1.208.654 1.624.243 2.822.12 3.12.769.826 1.233 1.879 1.233 3.167 0 4.531-2.805 5.528-5.478 5.82.43.364.814 1.084.814 2.184 0 1.577-.014 2.849-.014 3.235 0 .316.216.683.825.567C20.565 21.435 24 17.015 24 11.806 24 5.291 18.627.01 11.999.01z">
        </path>
      </svg><span class="color">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
      <img height="22" width="22" src="../../../assets/images/united-kingdom.svg" />
    </div>
  </div>
</div>
