.footer{
    // position: fixed;
    // width: 100%;
    bottom: 0;
    left: 0;
    // position: absolute;
    background-color: black;
    p{
      color: white;
      font-size: 10px;
      span{
        color: #e95fb7;
      }
    }
}
a{
  color: #e95fb7;
  &:hover{
    color: #e95fb7;
    text-decoration: underline;
  }
  &:active {
    box-shadow: 0 5px 0 #e95fb7;
    top: 5px;
  }
}
.color{
  color: #e95fb7;
  font-size: larger;
}

// .footer-fixed {
//   left: 0;
//   bottom: 0;
//   width: 100%;
// }
.display{
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .footer{
    text-align: center;
  }
  .display{
    justify-content: center;
  }
}