// @import '../../../../assets/theme/style.scss'; 

.article-bar {
  border: 1px solid #393939;
  border-radius: 4px;
  font-size: 13px;
  margin: 0;
}

.input-box {
  border: 1px solid #393939;
  color: #eee;
  width: 90%;
  border-radius: 4px;
  background-color: transparent;
}

.input-box:focus{
  outline: none;
}

.tabStatus {
  height: 300px;
  border: 1px solid #e95fb7;
  border-radius: 4px;
}

.donate {
  font-size: 12px;
  cursor: pointer;
  color: #e95fb7;
  text-decoration: underline dotted;
}

.connect-btn {
  width: 96%;
  background-color: #e95fb7;
  color: black;
}

.margin-15 {
  margin-left: 65%;
}

.margin-30 {
  margin-left: 50%;
}

.tabs {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
}

.tabs ul {
  justify-content: space-between;
}

.tabs ul {
  align-items: center;
  border-bottom: 0 solid #dbdbdb;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.tabs li {
  display: block;
}

ul li:last-child a {
  margin-left: 1.75rem;
  border-top-right-radius: 4px;
  border-left-width: 0;
  padding-right: 1.75rem;
}

.tabs ul li:last-child a:before {
  content: "";
  left: -1.5rem;
  transform: skewX(-20deg);
  border-right: none;
  border-top-left-radius: 4px;
}

.tabs ul li a:before {
  position: absolute;
  background-color: #0e1f17;
  transform-origin: bottom left;
  width: 1.5rem;
  border: solid #e95fb7;
  border-width: 1px 1px 0;
  top: -1px;
  bottom: 0;
  transition: background-color .15s ease-in-out;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs ul li.is-active a {
  color: #000403;
  background-color: #e95fb7;
}

.tabs ul li:first-child a {
  margin-right: 1.75rem;
  border-top-left-radius: 4px;
  border-right-width: 0;
  padding-left: 1.75rem;
}

.tabs ul li a {
  color: #e95fb7;
  font-weight: 700;
  position: relative;
  z-index: 1;
  border: solid #e95fb7;
  border-width: 1px 1px 0;
  background-color: #0e1f17;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
  padding: .68rem 1.25rem;
}

.tabs a {
  align-items: center;
  border-bottom: 0 solid #dbdbdb;
  color: #eee;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding: .5em 1em;
  vertical-align: top;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.tabs ul li.is-active a:after,
.b-tabs.is-tornado .tabs ul li.is-active a:before {
  background-color: #e95fb7;
}

.tabs ul li:first-child a:after {
  content: "";
  right: -1.5rem;
  transform: skewX(20deg);
  border-left: none;
  border-top-right-radius: 4px;
}

.tabs ul li:last-child a {
  margin-left: 1.75rem;
  border-top-right-radius: 4px;
  border-left-width: 0;
  padding-right: 1.75rem;
}

.tabs ul li:last-child a:before {
  content: "";
  left: -1.5rem;
  transform: skewX(-20deg);
  border-right: none;
  border-top-left-radius: 4px;
}

// li:last-child a:after {
//   display: none;
// }

.tabs ul li.is-active a:before {
  background-color: #e95fb7;
}

.tabs ul li a:after,
.b-tabs.is-tornado .tabs ul li a:before {
  position: absolute;
  background-color: #0e1f17;
  transform-origin: bottom left;
  width: 1.5rem;
  border: solid #e95fb7;
  border-width: 1px 1px 0;
  top: -1px;
  bottom: 0;
  transition: background-color .15s ease-in-out;
}

.tabs ul li:last-child a:before {
  content: "";
  left: -1.5rem;
  transform: skewX(-20deg);
  border-right: none;
  border-top-left-radius: 4px;
}

.tab-with-corner.is-primary,
.tab-with-corner.is-primary:after,
.tab-with-corner.is-primary:before {
  border-color: #e95fb7;
}

.tab-with-corner.is-left-bottom {
  padding-left: 1.75rem;
  border-top-width: 0;
  border-right-width: 0;
  margin-right: 1.75rem;
  border-bottom-left-radius: 4px;
}

.tab-with-corner {
  border: 1px solid #393939;
  display: inline-flex;
  padding: .68rem .625rem;
  position: relative;
  z-index: 1;
  background-color: #000403;
}

.tab-with-corner.is-primary,
.tab-with-corner.is-primary:after,
.tab-with-corner.is-primary:before {
  border-color: #e95fb7;
}

.tab-with-corner:after,
.tab-with-corner:before {
  position: absolute;
  border: 1px solid #393939;
  transform-origin: bottom left;
  width: 2.5em;
  top: 0;
  bottom: 0;
  background-color: #000403;
  z-index: -1;
}

.tab-with-corner.is-primary,
.tab-with-corner.is-primary:after,
.tab-with-corner.is-primary:before {
  border-color: #e95fb7;
}

.tab-with-corner.is-left-bottom:after {
  content: "";
  right: -1rem;
  transform: skewX(-20deg);
  border-bottom-right-radius: 4px;
  border-top-width: 0;
  border-left-width: 0;
  bottom: -1px;
}

.tab-with-corner:after,
.tab-with-corner:before {
  position: absolute;
  border: 1px solid #393939;
  transform-origin: bottom left;
  width: 2.5em;
  top: 0;
  bottom: 0;
  background-color: #000403;
  z-index: -1;
}

.tab-with-corner span.is-small {
  font-size: .7rem;
  line-height: 2.9;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

.has-text-primary {
  color: #e95fb7 !important;
}

.tab-with-corner span.is-small {
  font-size: .7rem;
  line-height: 2.9;
}

.box-stats .tab-with-corner.is-left-top {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.35rem;
}

.tab-with-corner.is-left-top {
  padding-left: 1.75rem;
  border-bottom-width: 0;
  border-right-width: 0;
  margin-right: 1.75rem;
  border-top-left-radius: 4px;
}

.tab-with-corner {
  border: 1px solid #393939;
  display: inline-flex;
  padding: .68rem .625rem;
  position: relative;
  z-index: 1;
  background-color: #000403;
}

.box-stats .tab-with-corner.is-left-top:after {
  right: -1.8rem;
}

.tab-with-corner.is-left-top:after {
  content: "";
  right: -1rem;
  transform: skewX(20deg);
  border-top-right-radius: 4px;
  border-left-width: 0;
  border-bottom-width: 0;
  top: -1px;
}

.tab-with-corner:after,
.tab-with-corner:before {
  position: absolute;
  border: 1px solid #393939;
  transform-origin: bottom left;
  width: 2.5em;
  top: 0;
  bottom: 0;
  background-color: #000403;
  z-index: -1;
}

.selected {
  border-radius: 4px;
  font-size: .75rem;
  background-color: #0d1f16;
  border: 1px solid #e95fb7;
  color: #e95fb7;
  padding: calc(.375em - 1px) .75em;
  height: 2.25em;
  display: inline-flex;
  margin-left: 1rem;
}

.box-stats .tab-with-corner.is-left-top:after {
  right: -1.8rem;
}

.box-stats {
  height: 100%;
}

.tab-with-corner.is-left-top:after {
  content: "";
  right: -1.4rem;
  transform: skewX(20deg);
  border-top-right-radius: 4px;
  border-left-width: 0;
  border-bottom-width: 0;
  top: -1px;
}

.tab-with-corner:after,
.tab-with-corner:before {
  position: absolute;
  border: 1px solid #393939;
  transform-origin: bottom left;
  width: 2.5em;
  top: 0;
  bottom: 0;
  background-color: #000403;
  z-index: -1;
}

.box-ip {
  display: flex;
  justify-content: flex-end;
}

.b-tooltip.is-top.is-primary:before {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  bottom: calc(100% + 2px);
}

.b-tooltip.is-top.is-primary:before {
  border-top: 5px solid #e95fb7;
}

.b-tooltip.is-top:after,
.b-tooltip.is-top:before {
  top: auto;
  right: auto;
  bottom: calc(100% + 7px);
  left: 50%;
  transform: translateX(-50%);
}

.b-tooltip:before {
  z-index: 889;
}

.b-tooltip:after,
.b-tooltip:before {
  position: absolute;
  content: "";
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.b-tooltip.is-top.is-multiline.is-large:after {
  width: 300px;
}

.b-tooltip.is-multiline:after {
  display: flex-block;
  text-align: center;
  white-space: normal;
}

.b-tooltip.is-primary:after {
  background: #e95fb7;
  color: #000403;
}

.b-tooltip.is-top:after,
.b-tooltip.is-top:before {
  top: auto;
  right: auto;
  bottom: calc(100% + 7px);
  left: 50%;
  transform: translateX(-50%);
}

.b-tooltip:after {
  content: attr(data-label);
  width: auto;
  padding: .35rem .75rem;
  border-radius: 6px;
  font-size: .85rem;
  font-weight: 400;
  box-shadow: 0 1px 2px 1px rgba(0, 1, 0, .2);
  z-index: 888;
  white-space: nowrap;
}

.b-tooltip:after,
.b-tooltip:before {
  position: absolute;
  content: "";
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.b-tooltip.is-top.is-primary:before {
  border-top: 5px solid #e95fb7;
}

.b-tooltip.is-top:after,
.b-tooltip.is-top:before {
  top: auto;
  right: auto;
  bottom: calc(100% + 7px);
  left: 50%;
  transform: translateX(-50%);
}

.tab-with-corner.is-right-bottom {
  margin-left: auto;
  padding-right: 1.75rem;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-right-radius: 4px;
}

.tab-with-corner {
  border: 1px solid #393939;
  display: inline-flex;
  padding: .68rem .625rem;
  position: relative;
  z-index: 1;
  background-color: #000403;
}

.tab-with-corner.is-right-bottom:before {
  content: "";
  left: -1rem;
  transform: skewX(20deg);
  border-bottom-left-radius: 4px;
  border-right-width: 0;
  border-top-width: 0;
  bottom: -1px;
}

.tab-with-corner:after,
.tab-with-corner:before {
  position: absolute;
  border: 1px solid #393939;
  transform-origin: bottom left;
  width: 2.5em;
  top: 0;
  bottom: 0;
  background-color: #000403;
  z-index: -1;
}

.bottom:before {
  content: "";
  left: -1rem;
  transform: skewX(20deg);
  border-bottom-left-radius: 4px;
  border-right-width: 0;
  border-top-width: 0;
  bottom: -1px;
}

.tab-with-corner span.is-small {
  font-size: .7rem;
  line-height: 2.9;
}

.b-tooltip.is-top.is-multiline.is-large:after {
  width: 300px;
}

.b-tooltip.is-multiline:after {
  display: flex-block;
  text-align: center;
  white-space: normal;
}

.b-tooltip.is-primary:after {
  background: #e95fb7;
  color: #000403;
}

.b-tooltip.is-top:after,
.b-tooltip.is-top:before {
  top: auto;
  right: auto;
  bottom: calc(100% + 7px);
  left: 50%;
  transform: translateX(-50%);
}

.b-tooltip:after {
  content: attr(data-label);
  width: auto;
  padding: .35rem .75rem;
  border-radius: 6px;
  font-size: .85rem;
  font-weight: 400;
  box-shadow: 0 1px 2px 1px rgba(0, 1, 0, .2);
  z-index: 888;
  white-space: nowrap;
}

.b-tooltip:after,
.b-tooltip:before {
  position: absolute;
  content: "";
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


//list
.b-steps {
  margin-bottom: 1.25rem;
}

.b-steps .steps.is-small {
  font-size: .75rem;
  min-height: 1.5rem;
}

.b-steps .steps .step-items {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

ul li {
  margin: 0;
  padding: 0;
}

.b-steps .steps .step-items .step-item {
  margin-top: 0;
  position: relative;
  flex-grow: 1;
  flex-basis: 1em;
}

.b-steps .steps.is-small .step-items .step-item:after,
.b-steps .steps.is-small .step-items .step-item:before {
  content: none;
}

.b-steps .steps .step-items .step-item.is-active:after,
.b-steps .steps .step-items .step-item.is-active:before {
  background-position: 0 100%;
}

.b-steps .steps .step-items .step-item:after,
.b-steps .steps .step-items .step-item:before {
  background: linear-gradient(270deg, #e95fb7 50%, #e95fb7 0);
  background-size: 200% 100%;
  background-position: 100% 100%;
}

.b-steps .steps.is-small .step-items .step-item.is-active .step-link {
  color: #e95fb7;
}

.b-steps .steps.is-small .step-items .step-item .step-link {
  transition: color .15s ease-in-out;
}

.b-steps .steps .step-items .step-item.is-active .step-link {
  cursor: default;
}

.b-steps .steps.is-small .step-items .step-item:first-child .step-link:after {
  left: 0;
  top: 0;
}

.b-steps .steps.is-small .step-items .step-item:first-child .step-link:after,
.b-steps .steps.is-small .step-items .step-item:last-child .step-link:after {
  content: "";
  display: block;
  position: absolute;
  background: #e95fb7;
  height: .2em;
  width: 50%;
  bottom: 0;
  top: .7rem;
}

.b-steps .steps.is-small .step-items .step-item.is-active .step-link .step-marker {
  background-color: #000403;
}

.b-steps .steps.is-small .step-items .step-item .step-marker {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: calc(50% - .75rem);
}

.b-steps .steps .step-items .step-item.is-active .step-marker {
  background-color: #eee;
  border-color: #e95fb7;
  color: #e95fb7;
}

.b-steps .steps .step-items .step-item .step-marker {
  align-items: center;
  display: flex;
  border-radius: 50%;
  font-weight: 700;
  justify-content: center;
  background: #000403;
  border: .2em solid #e95fb7;
  z-index: 1;
}

.b-steps .steps.is-small .step-items .step-item.is-active .step-link {
  color: #e95fb7;
}

.b-steps .steps.is-small .step-items .step-item.is-active .step-link .step-marker:before {
  transform: scale(.6);
}

.b-steps .steps.is-small .step-items .step-item .step-marker:before {
  content: "";
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -.75rem;
  bottom: 50%;
  margin-bottom: -.75rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform .15s ease-out;
  border-radius: 50%;
  transform: scale(0);
  background-color: #e95fb7;
}

.b-steps .steps.is-small .step-items .step-item.is-active .step-link .step-marker:before {
  transform: scale(.6);
}

.b-steps .steps.is-small .step-items .step-item .step-marker:before {
  content: "";
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -.75rem;
  bottom: 50%;
  margin-bottom: -.75rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform .15s ease-out;
  border-radius: 50%;
  transform: scale(0);
  background-color: #e95fb7;
}

.b-steps .steps.is-small .step-items .step-item .step-details {
  margin-top: 1.531rem;
}

.b-steps .steps.is-small .step-items .step-item .step-details {
  margin-top: 1.5rem;
  margin-left: .5em;
  margin-right: .5em;
  padding-top: .2em;
}

.b-steps .steps .step-items .step-item .step-details {
  text-align: center;
}

.b-steps .steps.is-small .step-items .step-item.is-active .step-link {
  color: #e95fb7;
}

.b-steps .steps.is-small .step-items .step-item .step-details .step-title {
  font-size: .7rem;
  font-weight: 600;
}

.b-steps .steps .step-items .step-item .step-details {
  margin-top: 2rem;
  margin-left: .5em;
  margin-right: .5em;
  padding-top: .2em;
}

// .b-steps .steps.is-small .step-items .step-item:first-child .step-link:after {
//   left: 0;
// }
// .b-steps .steps.is-small .step-items .step-item:first-child .step-link:after, .b-steps .steps.is-small .step-items .step-item:last-child .step-link:after {
//   content: "";
//   display: block;
//   position: absolute;
//   background: #e95fb7;
//   height: .2em;
//   width: 50%;
//   bottom: 0;
//   top: .7rem;
// }
.b-steps .steps.is-small .step-items .step-item:not(.is-active) {
  display: block;
}

.b-steps .steps .step-items .step-item:not(:first-child),
.b-steps .steps .step-items .step-item:only-child {
  flex-shrink: 1;
}

.b-steps .steps .step-items .step-item {
  margin-top: 0;
  position: relative;
  flex-grow: 1;
  flex-basis: 1em;
}

.b-steps .steps .step-items .step-item:not(:first-child):before,
.b-steps .steps .step-items .step-item:only-child:before {
  height: .2em;
  width: 100%;
  bottom: 0;
  left: -50%;
  top: 1rem;
}

.b-steps .steps .step-items .step-item:after,
.b-steps .steps .step-items .step-item:before {
  background: linear-gradient(270deg, #e95fb7 50%, #e95fb7 0);
  background-size: 200% 100%;
  background-position: 100% 100%;
}

.b-steps .steps .step-items .step-item:after,
.b-steps .steps .step-items .step-item:before {
  background: linear-gradient(270deg, #e95fb7 50%, #e95fb7 0);
  background-size: 200% 100%;
  background-position: 100% 100%;
}

.b-steps .steps.is-small .step-items .step-item .step-link {
  transition: color .15s ease-in-out;
}

.b-steps .steps .step-items .step-item .step-link {
  color: #eee;
}

.b-steps .steps.is-small .step-items .step-item:not(:first-child) .step-link:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #e95fb7;
  height: .2em;
  width: 100%;
  left: -50%;
  bottom: 0;
  top: .7rem;
}

.b-steps .steps.is-small .step-items .step-item:not(:first-child) .step-link:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #e95fb7;
  height: .2em;
  width: 100%;
  left: -50%;
  bottom: 0;
  top: .7rem;
}

.b-steps .steps.is-small .step-items .step-item .step-marker {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: calc(50% - .75rem);
}

.b-steps .steps .step-items .step-item .step-marker {
  align-items: center;
  display: flex;
  border-radius: 50%;
  font-weight: 700;
  justify-content: center;
  background: #000403;
  border: .2em solid #e95fb7;
  z-index: 1;
}

.b-steps .steps.is-small .step-items .step-item .step-marker:before {
  content: "";
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -.75rem;
  bottom: 50%;
  margin-bottom: -.75rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform .15s ease-out;
  border-radius: 50%;
  transform: scale(0);
  background-color: #e95fb7;
}

.b-steps .steps.is-small .step-items .step-item:last-child .step-link:after {
  right: 0;
}

.b-steps .steps.is-small .step-items .step-item:not(.is-active) {
  display: block;
}

.b-steps .steps .step-items .step-item {
  margin-top: 0;
  position: relative;
  flex-grow: 1;
  flex-basis: 1em;
}

.b-steps .steps .step-items .step-item.is-previous:after,
.b-steps .steps .step-items .step-item.is-previous:before {
  background-position: 0 100%;
}

.b-steps .steps .step-items .step-item.is-previous:after,
.b-steps .steps .step-items .step-item.is-previous:before {
  background-position: 0 100%;
}

.b-steps .steps .step-items .step-item:not(:first-child),
.b-steps .steps .step-items .step-item:only-child {
  flex-shrink: 1;
}

.b-steps .steps.is-small .step-items .step-item:not(:first-child):before,
.b-steps .steps.is-small .step-items .step-item:only-child:before {
  height: .2em;
  width: 100%;
  bottom: 0;
  left: -50%;
  top: .75rem;
}

.b-steps .steps.is-small .step-items .step-item:after,
.b-steps .steps.is-small .step-items .step-item:before {
  content: none;
}

.b-steps .steps .step-items .step-item:not(:first-child):before,
.b-steps .steps .step-items .step-item:only-child:before {
  height: .2em;
  width: 100%;
  bottom: 0;
  left: -50%;
  top: 1rem;
}

.b-steps .steps .step-items .step-item:not(:first-child):before,
.b-steps .steps .step-items .step-item:only-child:after,
.b-steps .steps .step-items .step-item:only-child:before {
  content: " ";
  display: block;
  position: absolute;
}

.b-steps .steps.is-small .step-items .step-item:after,
.b-steps .steps.is-small .step-items .step-item:before {
  content: none;
}

.b-steps .steps.is-small .step-items .step-item:not(:first-child):before {
  content: none;
}

.b-steps .steps.is-small .step-items .step-item:not(:first-child):before,
.b-steps .steps.is-small .step-items .step-item:only-child:before {
  height: .2em;
  width: 100%;
  bottom: 0;
  left: -50%;
  top: .75rem;
}

.b-steps .steps.is-small .step-items .step-item:after,
.b-steps .steps.is-small .step-items .step-item:before {
  content: none;
}

.b-steps .steps .step-items .step-item:not(:first-child):before,
.b-steps .steps .step-items .step-item:only-child:before {
  height: .2em;
  width: 100%;
  bottom: 0;
  left: -50%;
  top: 1rem;
}

.margin-5 {
  margin-top: 5px !important;
}

.box-stats .box {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.box {
  position: relative;
  min-height: 300px;
  z-index: 2;
  border: 1px solid #393939;
  background-color: #000403;
  border-radius: 6px;
  box-shadow: none;
  color: #fefefe;
  display: block;
  padding: 1.5rem;
}

.label:not(:last-child) {
  margin-bottom: .5em;
}

.label {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #eee;
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

.field:not(:last-child) {
  margin-bottom: 1.25rem;
}

.has-text-primary {
  color: #e95fb7 !important;
}

.columns.is-multiline {
  flex-wrap: wrap;
}

.columns:last-child {
  margin-bottom: -.75rem;
}

.columns {
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
}

.deposits {
  line-height: 2;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.value {
  font-size: 0.8rem;
  white-space: nowrap;
  padding-right: 1rem;
  text-align: right;
}

.data {
  font-size: 0.8rem;
  color: #e95fb7;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  position: relative;
  text-overflow: ellipsis;
}

table td,
table th {
  vertical-align: top;
}

td,
th {
  padding: 0;
}

.modalBox {
  background-color: black;
  border: 1px solid #393939;
  border-radius: 4px;
  color: #eee;
}

.modal-title {
  color: #e95fb7;
}

.default-btn {
  width: 96%;
  background-color: #e95fb7;
  color: black;
}

.note {
  word-wrap: break-word;
  font-size: 12px;
  color: #e95fb7;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

@media print,
screen and (min-width: 1200px) {
  .columns:not(.is-desktop) {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .columns.is-small {
    display: flex;
  }

  .column.is-half-small {
    flex: none;
    width: 50%;
  }
}
