<div class="home">
  <div class="container main_div">
    <div *ngIf="showArticle">
      <article class="mt-4 pt-2 row article-bar">
        <div class="col-sm-1" style="font-size: x-large;">
          <i class="fa fa-exclamation-circle"></i>
        </div>
        <div class="col-sm-10 pt-2">
          <p>hex tornado is a rebuilt fork of tornado.cash for HEX.</p>
        </div>
        <div class="col-sm-1 pt-2">
          <button style="background-color: transparent; color: #eee; border: none;" (click)="close()"><i class="fa fa-close"></i></button>
        </div>
      </article>
    </div>

    <div class="row mt-5">

      <div class="col-sm-6 mb-4">
        <nav class="tabs">
          <ul>
            <li [ngClass]="{'is-active': !tabStatus}"><a (click)="changeTab('deposit')"><span>Deposit</span></a></li>
            <li [ngClass]="{'is-active': tabStatus}"><a (click)="changeTab('withdraw')"><span>Withdraw</span></a></li>
          </ul>
        </nav>
        <div class="tabStatus" *ngIf="!tabStatus">
          <label class="ml-4 mt-4">Token</label>
          <div class="ml-4 mr-4 pl-3 pt-2 pb-2" style="border: 1px solid #393939; border-radius: 4px;">Hex
          </div>
          <label class="ml-4 mt-4">Amount 
            <span data-toggle="tooltip" data-placement="right" title="Each amount is a standalone Tornado Cash instance with a separate anonymity set. Check the stats tab for more info.">
            <i class="fa fa-info-circle" style="color: #e95fb7"></i></span>
          </label>

          <div class="b-steps ml-4 mr-4">
            <nav class="steps is-small">
              <ul class="step-items">
                <li class="step-item" [ngClass]="{'is-active': radioStatus === '10000'}"
                  (click)="changeStatus('10000','0x7f6892edf9a54fa43db57ca52ee376ba2cdc1c1e')"><a
                    class="step-link is-clickable">
                    <div class="step-marker">
                      <!---->
                    </div>
                    <div class="step-details"><span class="step-title">10k HEX</span></div>
                  </a></li>

                <li class="step-item" [ngClass]="{'is-active': radioStatus === '100000'}"
                  (click)="changeStatus('100000','0x8cb144e93b78baad45882f30dcd0a21f8de82ec5')"><a
                    class="step-link is-clickable">
                    <div class="step-marker">
                      <!---->
                    </div>
                    <div class="step-details"><span class="step-title">100k HEX</span></div>
                  </a></li>
                <li class="step-item" [ngClass]="{'is-active': radioStatus === '1000000'}"
                  (click)="changeStatus('1000000','0x884ba9cdccc0dbd4d5283fd02181613a54bdbb24')"><a
                    class="step-link is-clickable">
                    <div class="step-marker">
                      <!---->
                    </div>
                    <div class="step-details margin-5"><span class="step-title">1000k HEX</span></div>
                  </a></li>
              </ul>
            </nav>
            <section class="step-content">
              <div class="step-item"></div>
              <div class="step-item" style="display: none;"></div>
              <div class="step-item" style="display: none;"></div>
              <div class="step-item" style="display: none;"></div>
            </section>
            <!---->
          </div>
          <div class="col-sm-12 ml-2 mb-5">
            <button class="btn default-btn" (click)="connect()" *ngIf="!connectMetaMask">Connect</button>
            <button class="btn default-btn" *ngIf="connectMetaMask" (click)="createDeposit()" data-toggle="modal"
              data-target="#noteModalCenter">Deposit</button>
          </div>
        </div>
        <div class="tabStatus" *ngIf="tabStatus">
          <div class="row">
            <label class="ml-4 mt-4 col-sm-12">Note 
              <span data-toggle="tooltip" title="Please enter the note you received when you made the deposit">
              <i class="fa fa-info-circle" style="color: #e95fb7"></i>
            </span>
            </label>
            <div class="col-sm-12 mb-2">
              <input type="text" class="ml-4 mr-5 pl-3 pt-2 pb-2 pr-3 input-box" placeholder="Please paste address here" [(ngModel)]="note"/>
            </div>
          </div>
          <div class="row">
            <label class="ml-4 mt-4 col-sm-6">Recipient Address</label><label
              class="col-sm-4 mt-4 pt-1 d-flex justify-content-end donate" (click)="donate(recipient = '0xa7633f37FEEfaCAc8F251b914e92Ff03d2acf0f2')">Donate</label>
            <div class="col-sm-12 mb-4">
              <input class="ml-4 mr-4 pl-3 pt-2 pb-2 pr-3 input-box" *ngIf="donationAddress" [(ngModel)]="recipient"/>
              <input class="ml-4 mr-4 pl-3 pt-2 pb-2 pr-3 input-box" *ngIf="!donationAddress" placeholder='Please enter your note' [(ngModel)]="recipient"/>
            </div>
          </div>
          <div class="col-sm-12">
            <button class="ml-2 btn connect-btn" (click)="withdraw()">Withdraw</button>
          </div>
        </div>
        <div class="tab-with-corner is-left-bottom is-primary"><span class="is-small">
            <a *ngIf="radioStatus === '10000'" target="_blank"
              href="https://etherscan.io/address/0x7f6892edf9a54fa43db57ca52ee376ba2cdc1c1e#tokentxns"
              class="has-text-primary">10k-hextornado.toys.hex</a>
            <a *ngIf="radioStatus === '100000'" target="_blank"
              href="https://etherscan.io/address/0x8cb144e93b78baad45882f30dcd0a21f8de82ec5#tokentxns"
              class="has-text-primary">100k-hextornado.toys.hex</a>
            <a *ngIf="radioStatus === '1000000'" target="_blank"
              href="https://etherscan.io/address/0x884ba9cdccc0dbd4d5283fd02181613a54bdbb24#tokentxns"
              class="has-text-primary">1000k-hextornado.toys.hex</a>
          </span></div>
      </div>

      <div class="col-sm-6 .box-stats">

        <div class="tab-with-corner is-left-top">
          Statistics
          <span class="selected" *ngIf="radioStatus === '10000'">10k HEX</span>
          <span class="selected" *ngIf="radioStatus === '100000'">100k HEX</span>
          <span class="selected" *ngIf="radioStatus === '1000000'">1000k HEX</span>
        </div>

        <div class="box">
          <div class="label">
            Anonymity set
            <span data-toggle="tooltip" title="Number of deposits your withdrawal will potentially originate from"
              class="is-primary is-top is-medium b-tooltip is-multiline" style="transition-delay: 0ms;"><i
                class="fa fa-info-circle" style="background-color: transparent; color: #e95fb7"></i></span></div>
          <div class="field has-text-primary">
            {{count}} equal user deposits
          </div>
          <div>
            <div class="label">Latest deposits</div>
            <div class="columns is-small is-multiline">
              <div class="column is-half-small">
                <table class="deposits" *ngFor="let d of firstHalf">
                  <tr>
                    <td class="value">{{d.blockNumber}}</td>
                    <td class="data">{{d.timeStamp * 1000 | date: 'MMM d, H:mm' : 'UTC'}}</td>
                  </tr>
                </table>
              </div>
              <div class="column is-half-small">
                <table class="deposits" *ngFor="let d of secondHalf">
                  <tr>
                    <td class="value">{{d.blockNumber}}</td>
                    <td class="data">{{d.timeStamp * 1000 | date: 'MMM d, H:mm' : 'UTC'}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

        </div>
        <div class="box-ip"><span data-toggle="tooltip" title="Make sure to use different IP addresses for deposits and withdrawals as well as further operations with withdrawal account. We recommend using a TOR browser or a VPN service."
            class="is-primary is-top is-large b-tooltip is-multiline" style="transition-delay: 0ms;">
            <div class="tab-with-corner is-right-bottom"><span class="is-small">Your IP <a target="_blank"
                  href="https://www.torproject.org/" class="has-text-primary">
                  {{ip}}
                </a></span></div>
          </span></div>


      </div>

    </div>

  </div>
</div>
<div class="modal fade" id="noteModalCenter" tabindex="-1" role="dialog" aria-labelledby="noteModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modalBox" *ngIf="!lowBalance">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalCenterTitle">Your note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-sm-12">
          <p>Please backup your note. If you lose it, you won't get your deposit back.</p>
        </div>

        <div class="col-sm-12">
          <p class="note">{{noteString}}</p>
        </div>
        <div class="col-sm-12">
          <label class="mt-3"><input class="checkbox" type="checkbox" (click)="noteBackedup()" id="terms">
            I backed up the note
          </label>
          <button class="btn default-btn" (click)="sendDeposit()" [disabled]="!noteBackup" data-dismiss="modal"
            aria-label="Close">Send Deposit</button>
        </div>
      </div>

    </div>
    <div class="modal-content modalBox" *ngIf="lowBalance">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalCenterTitle">Insufficient funds</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-sm-12">
          <p>Your account Balance is lower than you requested to deposit</p>
        </div>
    </div>
  </div>
</div>

