.margin-15{
    margin-left: 15%;
}
.text-size{
    font-size: 14px;
}
input{
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #393939;
    
}
::placeholder{
    color: #393939;
    opacity: 0.8;
  }
input[type=text]:focus{
    border: solid 1px #eee;
    outline: white;
}