<div class="home">
    <div class="container main_div" style="margin-bottom:12%;">
        <div class="col-sm-12">
            <h2 class="font-weight-bold mt-4 text-center">hextornado.com <span class="text-color">compliance tool</span>
            </h2>
        </div>
        <div class="ml-3 mt-3">
            <p class="text-center text-size">Maintaining financial privacy is essential to preserving our freedoms.<br>
                However, it should not come at the cost of non-compliance. With hextornado.com, you can always provide
                cryptographically verified proof of transactional history using the Ethereum address you used to deposit
                or withdraw funds. This might be necessary to show the origin of assets held in your withdrawal
                address.<br>
                To generate a compliance report, please enter your hextornado.com Note below.</p>
        </div>
        <div class="row">
            <label class="col-sm-12">Note</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Please enter your note" />
            </div>
        </div>
    </div>
</div>