.main_div{
    margin-top: 4%;
}
.title {
    color: #e95fb7;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
}
.content ul {
    list-style: disc outside;
    font-size: 0.9em;
    font-weight: 200;
    line-height: 1.7;
    margin-left: 2em;
    margin-top: 1em;
}
.content li+li {
    margin-top: .25em;
}
ul {
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 1024px){
.column.is-half-desktop {
    flex: none;
    width: 50%;
}
}