<div class="home">
  <div class="container main_div">
    <div class="column is-half-desktop">
      <h2 class="title">How to make a deposit</h2>
      <div class="content">
        <ul class="info-list">
          <li class="info-list__item">Choose a token</li>
          <li class="info-list__item">Select amount to deposit</li>
          <li class="info-list__item">Click Deposit</li>
          <li class="info-list__item">Backup the note</li>
          <li class="info-list__item">Click Send Deposit</li>
          <li class="info-list__item">Confirm the transaction</li>
          <li class="info-list__item">Wait until transaction is mined</li>
        </ul>
        <p>Done!</p>
      </div>
      <h2 class="title">How to make a withdraw with relayer</h2>
      <div class="content">
        <ul class="info-list">
          <li class="info-list__item">Enter your deposit's note</li>
          <li class="info-list__item">Enter recipient address</li>
          <li class="info-list__item">Click Withdraw</li>
          <li class="info-list__item">Wait until proof is generated</li>
          <li class="info-list__item">Click Withdraw</li>
          <li class="info-list__item">Wait until transaction is mined</li>
        </ul>
        <p>Done!</p>
      </div>
      <h2 class="title">How to make a withdraw with metamask</h2>
      <div class="content">
        <ul class="info-list">
          <li class="info-list__item">Enter your deposit's note</li>
          <li class="info-list__item"><span>Click settings icon <svg xmlns="http://www.w3.org/2000/svg" width="20"
                height="20" viewBox="0 0 40 34">
                <path fill="#e95fb7" fill-rule="evenodd"
                  d="M38 7H22.859c-.447 1.722-1.997 3-3.859 3h-8c-1.862 0-3.412-1.278-3.859-3H2a2 2 0 1 1 0-4h5.141C7.588 1.278 9.138 0 11 0h8c1.862 0 3.412 1.278 3.859 3H38a2 2 0 1 1 0 4zM18 4h-6a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2zM2 27h15.141c.447-1.722 1.997-3 3.859-3h8c1.862 0 3.412 1.278 3.859 3H38a2 2 0 1 1 0 4h-5.141c-.447 1.722-1.997 3-3.859 3h-8c-1.862 0-3.412-1.278-3.859-3H2a2 2 0 1 1 0-4zm20 3h6a1 1 0 0 0 0-2h-6a1 1 0 0 0 0 2z">
                </path>
              </svg></span></li>
          <li class="info-list__item">Choose Wallet option</li>
          <li class="info-list__item">Click Save button</li>
          <li class="info-list__item">Enter recipient address</li>
          <li class="info-list__item">Click Withdraw</li>
          <li class="info-list__item">Wait until proof is generated</li>
          <li class="info-list__item">Click Withdraw</li>
          <li class="info-list__item">Sign transaction</li>
          <li class="info-list__item">Wait until transaction is mined</li>
        </ul>
        <p>Done!</p>
      </div>
    </div>
  </div>
</div>
